/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start of the Header */

@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');

.nav-container {
	display: flex;
  	justify-content: space-between;
  	padding: 10px 250px;
	background-color: cornflowerblue;
	color:white;
	opacity: 0.8;
	font-family: Fasthand, serif;
	font-style:italic;
}

.welcome {
	background-image: url("/assets/pizzanostra-wartung.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 1000px;
	color:blue;
}

.head-content {
	width: 50%;
	margin: 200px auto;
	text-align: center;
	color: aliceblue;
}

span {
	width: 20%;
	height: 1px;
	display: inline-block;
	background-color: grey;
  }