/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

.nav-container {
	padding: 10px;
  background-color: #009246;
  color:white;
  opacity: 0.8;
  font-family: Fasthand, serif;
  font-style:italic;
  width:100;
}

li {
  display: inline-block;
  margin-top: 10px;
}

ul {
  
  margin-right: 20px;
}

header ul li a {
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 20px;
  padding: 6px;
  color:white;	
}

header ul li a:hover {
background: white;
color: #009246;
text-decoration: none;  
}

main{ 

	background: url(../assets/top-view-pizza-gray-background_334341-146.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 1200px;
  }
  main p{
    font-family: 'Fasthand';
  }
.container{
    transform-style: preserve-3d;
}

.container .box{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px;
    transform-style: preserve-3d;
    perspective: 1000px;
    cursor: pointer;
}

.container .box .body{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.9s ease;
}



.container .box .body .imgContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.container .box .body .imgContainer img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .box .body .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.container .box:hover .body{
    transform: rotateY(180deg);
}

.container .box .body .content div{
    transform-style: preserve-3d;
    padding: 20px;
    background: linear-gradient(#009246,#FFFFFF , #CE2B37);
    transform: translateZ(100px);
}

.container .box .body .content div h3{
    letter-spacing: 1px;
}
span {
	width: 10%;
	height: 1px;
	display: flex;
	background-color: whitesmoke;
	opacity: 1;
	margin-left: 42%;
	
}



footer {
  background-image: url("../assets/pizzabäcker.3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 710px;
  background-color: whitesmoke;
}

.contact h1 {
  font-family: Fasthand, serif;
}

input[type="text"],
input[type="search"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  box-shadow: 0 0 10px #009246;
}

input[type="submit"]:hover {
  background-color: #009246;
}

button {
  margin-top: 15px !important;
}
.form,
.copy {
  margin-top: 100px;
}
.socialcol {
  margin-top: 200px;
}

.social {
  padding: 10px;
  width: auto;
}
